<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="AddTicket()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Co'Work
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="Disconnect()">
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-progress-bar *ngIf="loading.Loading" type="indeterminate"></ion-progress-bar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <span [ngSwitch]="GetTypeName(auth.UserType)">
        <account-staff [Refresher]="Refresher" *ngSwitchCase="'Staff'"></account-staff>
    </span>
</ion-content>