<ion-card color="light">
  <ion-card-header color="primary">
    <ion-toolbar color="primary">
      <ion-card-title>
        <ion-label>{{ Ticket.Title }} </ion-label>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-note [color]="GetStatusColor(Ticket.State)"><strong>{{ GetTicketStatus(Ticket.State) }}</strong></ion-note>
        <i> {{ "#" + Ticket.Id }} - ouvert le {{ Ticket.Created | date: "dd/MM/yyyy HH:mm" }} <span *ngIf="Ticket.OpendedBy != null">par {{ Ticket.OpendedBy?.FirstName }} {{ Ticket.OpendedBy?.LastName }}</span></i>
      </ion-card-subtitle>
      <ion-buttons slot="end">
        <ion-button (click)="OpenChangeStatus()">
          <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content padding>
    <ion-label>{{ Ticket.Description  }}</ion-label>
  </ion-card-content>
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-button color="danger" *ngIf="UserCanDelete" (click)="Delete()">
        <ion-icon name="trash"></ion-icon>
        <ion-label>Supprimer</ion-label>
      </ion-button>
      <ion-button color="primary" *ngIf="GetUserType(authUser.Type) == 'Staff'" [hidden]="IsAttributedToMe()" (click)="AttributeTicketToMe()">
        <ion-icon name="add"></ion-icon>
        <ion-label>Me l'attribuer</ion-label>
      </ion-button>
      <ion-button readonly color="primary" *ngIf="GetUserType(authUser.Type) == 'Staff'" disabled="true" [hidden]="!IsAttributedToMe()">
          <ion-icon name="checkmark"></ion-icon>
          <ion-label>M'est attribué</ion-label>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <comment *ngFor="let comment of Ticket.Comments" [TicketComment]="comment"></comment>
  <comment-form (CommentSent)="CommentSent($event)"></comment-form>
</ion-card>
